<footer>
    <h3>Codeial. All right Reserved</h3>
    <ul>
        <li>
            <a href="/">Home</a>
            
        </li>
        <% if(locals.user) { %>
            <li>
                <a href="/users/profile/<%= user.id %>">Profile</a>
            </li>
        <% } %>
    </ul>
</footer>