<header id="navbar">
    <a href="/">Codeial</a>
    <ul>
        <% if(locals.user) { %>
            <li>
                <a href="/users/profile/<%= user.id %>">
                    <%= user.name %>
                </a>

                <a href="/users/destroy-session">Sign Out</a>
            </li>
        <% } else{ %>
            <li>
                <a href="/signin">Sign In</a>
        
                <a href="/signup">Sign Up</a>
            </li>
        <% } %>
    </ul>
</header>