<h1>Forgot your password?</h1>
<p>Please enter the email you use to sign in to codeial.</p>
<br>
<form action="/signin/forgot-password/verify-email" method="POST">
    <input type="email" name="email" placeholder="Your email" required>
    <button type="submit">Request password reset</button>
</form>
<br>
<a href="/signin">Back to sign in</a>
