<link rel="stylesheet" href="/CSS/home.css">
<h1>Home page!!</h1>
<h2>EJS</h2>


<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/users/create-post" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..." required></textarea>
        <input type="submit" value="Post">
    </form>
</section>
