<% if(tokenStatus=='valid') { %>
    <h1>Create new password </h1>
    <br>
    <form action="/reset-password" method="POST">
        <input type="password" name="password" placeholder="New password" required>
        <input type="text" name="confirmPassword" placeholder="Confirm password" required>
        <input type="hidden" name="accessToken" value="<%=accessToken%>">
        <button type="submit">Reset</button>
    </form>
<% } else if(tokenStatus=='expired'){%>

    <h2 style="color:red">Reset link expired!!!</h2>

<% } else { %>

    <h2 style="color:red">Invalid reset link !!!</h2>

<% } %>