<link rel="stylesheet" href="/CSS/signup.css">

<div id="main-container">
    <div id="signUp-container">
        <h1 id="site-logo">Codeial</h1>
        <div id="signUp-box">
            <h1 id="form-main-heading">Create a new account</h1>
            <p id="form-small-heading">It's quick and easy.</p>
            <hr id="horizontal-line">
            <form action="/signup/create-user" method="POST">
                <div id="signup-fields">
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="email" name="email" placeholder="Username or Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>

