<link rel="stylesheet" href="/CSS/signin.css">

<div id="main-container">
    <div id="signIn-container">
        <h1 id="site-logo">Codeial</h1>
        <div id="signIn-box">
            <p id="form-label">Sign In to Codeial</p>
            <form action="/signin/create-session" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign In</button>
            </form>
            <hr>
            <p id="social-auth">
                <a id="google-auth" href="/users/auth/google">Google Sign In/Sign Up</a>
            </p>
        </div>
    </div>
</div>

