footer{
    color: white;
    background-color: rgb(120, 124, 115);
    display: flex;
    
    ul{
        list-style-type: none;
    }
    
    a{
        color: white;
        text-decoration: none;
    }
}