<div>
    <p>Hi <%=name%>,</p>
    <h5>Account activation link, hurry up!. you got 24 hours</h5>
    <p>
        <a href="http://localhost:8000/activate-account/?accountActivationToken=<%=accountActivationToken%>">
            http://localhost:8000/activate-account/?accountActivationToken=<%=accountActivationToken%>
        </a>
    </p>
    <p>Thank you!!!</p>
</div>