<div>
    <p>Hi <%= user.name%>,</p>
    <br>
    <p>
        Welcome to <strong style='color:red'>Codeial</strong>
        Your new account has been created!
        <br>
        <br>
        <strong style='color:lightblue'>Your Username: <%=user.email%></strong>
        <br>
        <strong style='color:lightblue'>Your Password: <%=user.password%></strong>
    </p>
    <br>
    <p>Thanks!</p>
</div>